<h1>Confirm Purchase</h1>

<p>A one-time password has been sent to the email address listed for your account.  Please enter it below to confirm your purchase.</p>

<%= render 'form' %>

<%= link_to 'Back', cart_path %>