<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your purchase one-time password is below.</h1>
<p>
  Your one-time password is <%= @password %>. It will expire in 1 minute.
</p>
</body>
</html>