<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your purchase one-time password is below.</h1>
<p>
  Please enter this password into your purchase form:
  <%= @password %>
</p>
</body>
</html>