<h1>This is the Student home page</h1>
<h2>Please select one of the pages below</h2>

<%=link_to "Cart", "/carts" %>
<%=link_to "Courses", "/courses" %>
<%=link_to "Purchases", "/purchases" %>
<%=link_to "Feedback", "/feedbacks" %>