<h1>This is the Teacher home page</h1>
<h2>Please select one of the pages below</h2>

<%=link_to "Students", "/students" %>
<%=link_to "Courses", courses_path %>
<%=link_to "Feedback", "/feedbacks" %>